* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  position: relative;
  height: 100%;
  background: url('wood.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box {
  width: 100%;
  max-width: 400px;
  background-color: rgba(136, 104, 83, 0.45);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.overlay {
  background-color: rgba(102, 64, 36, 0.28); /* café claro semi-transparente */
  padding: 20px 20px 25px;
  color: #fff;
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 550px;
  display: block;
  margin: 0 auto 10px;
}

.overlay h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.overlay p {
  margin: 5px 0;
}

.overlay h2 {
  margin-top: 15px;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  background-image: url('wood.jpg');
  background-size: cover;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #5b4431;
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
  background-color: rgba(255,255,255,0.1);
}

